/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #45badd;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('./robot.gif') no-repeat left center fixed;
  background-size: contain;
}

button {
  cursor: pointer;
  outline: none;
  width: 20rem;
  height: 5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color: #fff;
  background-color: #ff3482;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 2rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.8ms;
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

/* Media Query - tablet and smaller */

@media only screen and (max-width: 72em) {
  .container {
    background-size: cover;
    background-position: center center;
  }

  button {
    box-shadow: 0.5rem 0.5rem 3rem 2rem rgba(0, 0, 0, 0.3);
  }
}
